.total {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;

  span {
    font-weight: 700;
  }
}