.tabs {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: sticky;
  top: 0px;
  background-color: #242424;
  padding: 20px 0;
  box-sizing: border-box;
}