.section {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .title {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: -0.33px;
    }
  }

  .list {
    list-style: none;
    padding-inline-start: 0;
    padding: 0;

    .monthGroup {
      .monthTitle {
        text-transform: capitalize;
        display: inline;
      }

      .monthList {
        list-style: none;
        padding-inline-start: 0;
        padding: 0;

        .item {
          display: flex;
          gap: 16px;
          align-items: center;
          margin: 10px 0;

          .icon {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;

            width: 48px;
            height: 48px;

            background: #f5f0e6;
            border-radius: 8px;
          }

          .content {
            display: flex;
            flex-direction: column;

            .dateText {
              font-family: "Plus Jakarta Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;

              &::first-letter {
                text-transform: capitalize;
              }
            }

            .valueText {
              font-family: "Plus Jakarta Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
    }
  }
}
