.container {
  max-width: 960px;
  width: 100%;
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;

  .header {
    position: sticky;
    top: 0;
    height: max-content;

    .title {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-optical-sizing: auto;
      font-size: 32px;
      letter-spacing: -0.8px;
      line-height: 40px;
      font-weight: bold;
      font-style: normal;
    }
  }

  main {
    width: 50%;
    margin-bottom: 100px;
  }
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
    align-items: center;
    flex: 1;

    .header {
      position: relative;
    }

    main {
      width: 100%;
    }
  }
}
